<div class='widget'>
    <h4>
		<span class='floatright'>
			<img src='{{ asset('themes/default/buttons/refresh.png') }}' alt='Refresh' title='Refresh' rel='refreshdonate' class='clickable middle' />
		</span>
        <img src='{{ asset('themes/default/forums/mix/bullet_toggle_minus.png') }}' alt='' title='' rel='donate' id='toggle' class='middle pointer' /> Donate
    </h4>
    <div id='donate' class=''>
        <br />
        <br />
        <p style='text-align: center;'>This would need to contain your donation code, or something. maybe even a paypal link</p>
        <br />
        <br />
    </div>
</div>