<div class="widget">
    <h4>
            <span class="floatright">
                <img src="{{ asset('themes/default/buttons/refresh.png') }}" alt="Refresh" title="Refresh" rel="refreshOnlineMembers" class="clickable middle" />
            </span>
        <img src="{{ asset('themes/default/forums/mix/bullet_toggle_minus.png') }}" alt="" title="" rel="membersOnlineNow" id="toggle" class="middle pointer" />
        <a href="/membersonline.php">Members Online Now</a>
    </h4>
    <div id="membersOnlineNow" class="">
        <p id="onlineMembersList">
            <span id="member_info" memberid="1" class="clickable">
                <span style="color: #FF0000; font-weight: bold;">Meg4R0M</span>
            </span>
            <br />Online now: 1 (Members: 1, Guests: 3)
        </p>
        <p>
            <span style="padding: 0 7px; border: 1px solid #000; margin: 1px; background:  #FF0000" title="Administrators">&nbsp;</span>
            <span style="padding: 0 7px; border: 1px solid #000; margin: 1px; background:  #00FF00" title="Super Moderators">&nbsp;</span>
            <span style="padding: 0 7px; border: 1px solid #000; margin: 1px; background:  #009900" title="Moderators">&nbsp;</span>
            <span style="padding: 0 7px; border: 1px solid #000; margin: 1px; background:  #0000FF" title="Uploaders">&nbsp;</span>
            <span style="padding: 0 7px; border: 1px solid #000; margin: 1px; background:  #990099" title="VIP">&nbsp;</span>
            <span style="padding: 0 7px; border: 1px solid #000; margin: 1px; background:  #FF7519" title="Power user">&nbsp;</span>
            <span style="padding: 0 7px; border: 1px solid #000; margin: 1px; background:  #00FFFF" title="Registered Users">&nbsp;</span>
            <span style="padding: 0 7px; border: 1px solid #000; margin: 1px; background:  #cccccc" title="Members Awaiting Email Confirmation">&nbsp;</span>
            <span style="padding: 0 7px; border: 1px solid #000; margin: 1px; background:  #cccccc" title="Members Awaiting Moderation">&nbsp;</span>
        </p>
    </div>
</div>