<div class="widget">
    <h4>
        <span class="floatright">
            <img src="{{ asset('themes/default/buttons/refresh.png') }}" alt="Refresh" title="Refresh" rel="refreshWebsiteStats" class="clickable middle" />
        </span>
        <img src="{{ asset('themes/default/forums/mix/bullet_toggle_minus.png') }}" alt="" title="" rel="websiteStatsList" id="toggle" class="middle pointer" /> Website Statistics
    </h4>
    <p id="websiteStatsList" class="">
        <b>---TORRENTS---</b><br />
        Tracking: 123 Torrents<br />
        New today: 23<br />
        Unseeded Torrents: 100<br />
        Seeders: 46<br />
        Leechers: 13<br />
        Peers: 59<br />
        Downloaded: 531Gio<br />
        Uploaded: 531Gio<br />
        <b>---MEMBERS---</b><br />
        We have: 102 Members<br />
        New today: 2<br />
        Visitors Today: 41<br />
        Welcome: Meg4r0M<br />
        <b>---Misc---</b><br />
        Comments posted: 605<br />
        Messages sent: 1032
    </p>
</div>