{% extends "::base.html.twig" %}

{% block infobar %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ render(controller('UsersBundle:Infos:infobar')) }}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {{ render(controller('UsersBundle:Infos:breadcrumbs', {'page': { 'name': 'membercp', 'address': 'users_membercp'}, 'section': {'name': 'Avatar', 'address': 'users_membercp_avatar'} })) }}
{% endblock %}

{% block content %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        {% if flashmessage is defined %}
            <div class="done" id="show_done">
                <b>Your account is modified</b><br />
                {{ flashmessage }}
            </div>
            <br />
        {% endif %}

        <form id="membercp_avatar_form" method="post" action="" enctype="multipart/form-data">
            <input type="hidden" name="action" value="avatar" id="action" />
            <input type="hidden" name="securitytoken" value="618-1476003530-80c06e73493d964ffdfd4a9ed8147b3bd209c507" />

            <div class="tableHeader">
                <div class="row">
                    <div class="cell first">
                        Member CP - Avatar
                    </div>
                </div>
            </div>

            <div class="table">

                <div class="row">
                    <div class="cell first">Avatar url</div>
                    <div class="cell second">
                        <input type="text" name="avatar" size="50" value="avatar" />
                    </div>
                </div>

                <div class="row">
                    <div class="cell first">Select and Upload a new Custom Avatar</div>
                    <div class="cell second">
                        <input type="file" name="avatar" /> <input type="submit" value="Upload" class="submit" id="avatar_submit" />
                    </div>
                </div>

            </div>

        </form>
    {% endif %}
{% endblock %}

{% block rightblocks %}
    {{ render(controller('UsersBundle:UsersBlock:membercpmenu', {'url': 'membercpavatar'})) }}
{% endblock %}