{% extends "::base.html.twig" %}

{% block infobar %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ render(controller('UsersBundle:Infos:infobar')) }}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {{ render(controller('UsersBundle:Infos:breadcrumbs', {'page': { 'name': 'membercp', 'address': 'users_membercp'}, 'section': {'name': 'Invite Friends', 'address': 'users_membercp_invite'} })) }}
{% endblock %}

{% block content %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        {% if flashmessage is defined %}
            <div class="done" id="show_done">
                <b>Your account is modified</b><br />
                {{ flashmessage }}
            </div>
            <br />
        {% endif %}

        <form id="membercp_form" action="">
            <input type="hidden" name="action" value="invite" id="action" />

            <div class="tableHeader">
                <div class="row">
                    <div class="cell first">Send Invite</div>
                </div>
            </div>

            <div class="table">

                <div class="row">
                    <div class="cell first"><label for="invite_friend_name">Friend Name</label></div>
                    <div class="cell second">
                        <input type="text" name="invite_friend_name" id="invite_friend_name" class="s" accesskey="n" value="" />
                    </div>
                </div>

                <div class="row">
                    <div class="cell first"><label for="invite_friend_email">Friend Email</label></div>
                    <div class="cell second">
                        <input type="text" name="invite_friend_email" id="invite_friend_email" class="s" accesskey="e" value="" />
                    </div>
                </div>

                <div class="row">
                    <div class="cell first"><label for="invite_friend_message">Message</label></div>
                    <div class="cell second">
                        <textarea name="invite_friend_message" id="cat_content_small" class="s" accesskey="m" title="Enter a message to include in the email (optional)"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="cell first"></div>
                    <div class="cell second">
                        <input type="submit" value="Send Invite" class="submit" />
                        <input type="reset" value="Clear" class="submit" />
                    </div>
                </div>

            </div>

        </form>
        <br />
        <div class="information">Invite your friends to earn free Upload Amount and/of Bonus Points<br /></div><br />
        <div class="tableHeader" id="inviteListHeader">
            <div class="row">
                <div class="cell first">
                    Invited Friends
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block rightblocks %}
    {{ render(controller('UsersBundle:UsersBlock:membercpmenu', {'url': 'membercpinvite'})) }}
{% endblock %}