<div class="widget" id="advertisements">
    <h4>
        <img src="http://templateshares-ue.net/tsue/styles/default/forums/mix/bullet_toggle_minus.png" alt="" title="" rel="showAds" id="toggle" class="middle pointer" />
        <span rel="adsTitle">TTv3: Social Engagement</span>
    </h4>

    <div id="showAds" class="">
        <div class="ads" data-adNumber="1" style="padding: 5px 10px;">
            <div class="adsTitle hidden">TTv3: Social Engagement</div>
            <div class="adsContent">
                <div class="features">
                    <img style="float: left; margin-right: 5px;" title="Social Engagement" src="http://templateshares-ue.net/images/social.png" alt="Social Engagement" /> Keep your members coming back by letting them earn points for posting comments, torrents... An intuitive "TTv3 like" system makes members feel appreciated for their contributions, while integration with Facebook, Twitter and Google +1 allows easy sharing.<br />
                </div>
            </div>
        </div>

        <div class="ads" data-adNumber="2" style="padding: 5px 10px;display: none;">
            <div class="adsTitle hidden">TTv3: Great Plugins</div>
            <div class="adsContent">
                <div class="features">
                    <img style="float: left; margin-right: 5px;" title="Great Plugins" src="http://templateshares-ue.net/images/plugins.png" alt="Great Plugins" />TTv3 is built to be the most extensible and flexible CMS software ever. There are many build-in plugins available in the vanilla source, such as Shoutbox, Recent News, Recent Threads, Recent Torrents, Poll and much more..<br />
                </div>
            </div>
        </div>

        <div class="ads" data-adNumber="3" style="padding: 5px 10px;display: none;">
            <div class="adsTitle hidden">TTv3: Easy Styling</div>
            <div class="adsContent">
                <div class="features">
                    <img style="float: left; margin-right: 5px;" title=" Easy Styling" src="http://templateshares-ue.net/images/styles.png" alt=" Easy Styling" /> You can make further changes through an extensive TTv3 style manager, or edit HTML and CSS in your favorite editor. No code changes necessary!<br />
                </div>
            </div>
        </div>

        <div class="ads" data-adNumber="4" style="padding: 5px 10px;display: none;">
            <div class="adsTitle hidden">TTv3: Alerts</div>
            <div class="adsContent">
                <div class="features">
                    <img style="float: left; margin-right: 5px;" title="Alerts" src="http://templateshares-ue.net/images/alerts.png" alt="Alerts" /> Make it easy for members to stay up to date with updates that are applicable to them. They'll receive alerts when someone quotes their post or responds to a status update, when they receive a new message, and more.<br />
                </div>
            </div>
        </div>

        <div class="ads" data-adNumber="5" style="padding: 5px 10px;display: none;">
            <div class="adsTitle hidden">TTv3: Affordable</div>
            <div class="adsContent">
                <div class="featureText">Pay Once and use TTv3 Free for Lifetime! No recurring billing!</div>
            </div>
        </div>

        <div class="ads" data-adNumber="6" style="padding: 5px 10px;display: none;">
            <div class="adsTitle hidden">TTv3: Scalable</div>
            <div class="adsContent">TTv3 works on a small VPS server or a Dedicated server.<br /></div>
        </div>

        <div class="ads" data-adNumber="7" style="padding: 5px 10px;display: none;">
            <div class="adsTitle hidden">TTv3: Mobile Support</div>
            <div class="adsContent">TTv3 works with mobile devices. This includes IOS and Android.<br /></div>
        </div>

        <div class="ads" data-adNumber="8" style="padding: 5px 10px;display: none;">
            <div class="adsTitle hidden">TTv3: Technical support</div>
            <div class="adsContent">We make our customers happy by providing superior support.<br /></div>
        </div>

        <div class="ads" data-adNumber="9" style="padding: 5px 10px;display: none;">
            <div class="adsTitle hidden">TTv3: Development</div>
            <div class="adsContent">We're constantly updating TTv3 to improve features and performance.<br /></div>
        </div>
    </div>
    <br />
</div>