<div class='widget'>
    <h4>
        <img src='{{ asset('themes/default/forums/mix/bullet_toggle_minus.png') }}' alt='' title='' rel='disclaimer' id='toggle' class='middle pointer' /> Disclaimer
    </h4>
    <div id='disclaimer' class=''>
        <p>
            <strong>None of the files shown here are actually hosted on this server.
                The links are provided solely by this sites users.
                The administrator of this site cannot be held responsible for what its users post, or any other actions of its users.
                You may not use this site to distribute or download any material when you do not have the legal rights to do so.
                It is your own responsibility to adhere to these terms.</strong>
        </p>
        <div class='clear'></div>
    </div>
</div>