{% extends 'MessageBundle::layout.html.twig' %}

{% block breadcrumbs %}
    {{ render(controller('UsersBundle:Infos:breadcrumbs', {'page': { 'name': 'Mailbox', 'address': 'message_inbox'}, 'section': { 'name': 'Thread Sent', 'address': 'message_inbox' } } ) ) }}
{% endblock %}

{% block fos_message_content %}

{#<h2>{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</h2>#}

{% include 'MessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
