<div class='widget'>
    <h4>
		<span class='floatright'>
			<img src='{{ asset('themes/default/buttons/refresh.png') }}' alt='Refresh' title='Refresh' rel='refreshmembercpmenu' class='clickable middle' />
		</span>
        <img src='{{ asset('themes/default/forums/mix/bullet_toggle_minus.png') }}' alt='' title='' rel='membercpmenu' id='toggle' class='middle pointer' /> MemberCP Menu
    </h4>

    <div id='membercpmenu' class=''>
        <ul id="memberCPNavi" class="">
            <li><a href="{{ path('users_membercp') }}" {% if routename == 'membercp' %}class="active"{% endif %}>Personal Details</a></li>
            <li><a href="/membercp.php?action=contact_details">Contact Details</a></li>
            <li><a href="/membercp.php?action=preferences">Preferences</a></li>
            <li><a href="/membercp.php?action=privacy">Privacy</a></li>
            <li><a href="/membercp.php?action=password">Password</a></li>
            <li><a href="/membercp.php?action=signature">Signature</a></li>
            <li><a href="/membercp.php?action=avatar">Avatar</a></li>
            <li><a href="/membercp.php?action=invite">Invite Friends</a></li>
            <li><a href="/membercp.php?action=upgrade">Upgrade Account</a></li>
            <li><a href="/membercp.php?action=following">People You Follow</a></li>
            <li><a href="/membercp.php?action=gallery">Image Gallery</a></li>
            <li><a href="/membercp.php?action=performance">Performance</a></li>
            <li><a href="/membercp.php?action=subscribed_threads">Subscribed Threads</a></li>
            <li><a href="/membercp.php?action=open_port_check_tool">Open Port Check Tool</a></li>
            <li><a href="/membercp.php?action=alerts">Recent Alerts</a></li>
            <li><a href="/mailbox.php">Messages</a></li>
        </ul>
    </div>
    <div class='clear'></div>
</div>