{% extends "::base.html.twig" %}

{% block infobar %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ render(controller('UsersBundle:Infos:infobar')) }}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        <span class="floatright">
		    {#<input type="button" name="messages_delete_messages" value="Delete Selected Messages" id="messages_delete_messages" class="submit" />
		    <input type="button" name="messages_select_all" value="Select All" id="messages_select_all" class="submit" />#}
            <input type="button" name="messages_sent" value="{% trans from 'FOSMessageBundle' %}sent{% endtrans %}" id="messages_sent" class="submit" />
            <input type="button" name="messages_deleted" value="{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}" id="messages_deleted" class="submit" />
	    </span>

        <input type="button" name="messages_new_message" value="{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}" id="messages_new_message" class="submit" />
        <input type="button" name="messages_view_all" value="{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}" id="messages_view_all" class="submit" />

        {% block fos_message_content %}{% endblock %}

    {% endif %}
{% endblock %}

{% block rightblocks %}
    {{ render(controller('UsersBundle:UsersBlock:membercpmenu', {'url': 'messages'})) }}
{% endblock %}