<div style="background: #f8f8f8; color: #000; padding: 10px; text-align: center; border: 1px solid #ddd; margin-bottom: 10px;">
    <b>Welcome to TTv3 Symfony Edition!</b><br />
    TTv3 | The most powerful CMS software. Fast. Secure. Social. Build your own website today.<br /><br />
    Please take a look around, and feel free to <a href="/account-signup.php"><b>sign up</b></a> and join our community.
</div>