<div class='widget'>
    <h4>
        <img src='{{ asset('themes/default/forums/mix/bullet_toggle_minus.png') }}' alt='' title='' rel='news' id='toggle' class='middle pointer' /> News
    </h4>
    <div id='news' class=''>
        <p>
			<span class="clickable" id="news_item" rel="1">
    			<span id="news_item_title_1">Refonte TTv3</span>
			</span><br />
            <span>Site en cours de construction, passage complet sous symfony 3 !!!</span><br />
            <span class="small">Ajouté le 14-01-2017</span>
        </p>
        <div class='clear'></div>
    </div>
</div>